{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div class="card-group">
	{% for plant in plant_list%}
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body" style="position: relative">
				<h1 class="card-title">{{plant.Name}}</h1>
				<h3 class="card-text">{{plant.ScientificName}}</h3>
				<h6 class="card-text">Light Requirement: {{plant.LightRequirement}}</h6>
				<h6 class="card-text">Water Requirement: {{plant.WaterRequirement}}</h6>
				<h6 class="card-text">Soil Type: {{plant.SoilType}}</h6>
				<h6 class="card-text">Edible: {{plant.Edible}}</h6>
				<h6 class="card-text">Edible Parts: {{plant.EdibleParts}}</h6>
				<a href="{{plant.Wikipedia}}">More details...</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
<!-- <button type="button" class="close" onClick="deletePlant.id ">
			<span aria-hidden="true">&times;</span>
		</button> -->
